* {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #89381A;
}

body,html {
    background: #E49273;
}

.header-img {
    background: url("/Images/books.jpg") fixed center;
    background-size: cover;
    height: 200px;
}

.intro {
    font-size: 1.5em;
    margin: 30px 0;
    text-align: center;
}

.search {
    text-align: center;
    margin: 0 0 20px 0;
    input {
        color: #89381A;
        padding: 5px 10px;
        border-radius: 5px;
        border-color: #EBAE98;
        width: 250px;
    }
}

// @media only screen and (min-width: 374px) {
//     * {
//         font-size: 20px;
//     }
// }