.booksList {
    -webkit-box-shadow: -9px 10px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 10px 13px -9px rgba(0,0,0,0.75);
    box-shadow: -9px 10px 13px -9px rgba(0,0,0,0.75);
    width: 80vw;
    margin: 0 auto;
    background: #E28665;
    padding: 10px;
    max-height: 60vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin: 15px 0;
        }
    }
}

// @media only screen and (min-width: 374px) {
//     .booksList {
//         padding: 20px;
//         li {
//             font-size: 0.8em;
//         }
//     }
    
// }